{% extends 'Admin/base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('admin_utilisateurs_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>

                            <a href="{{ path('admin_utilisateurs_edit', { 'id': utilisateur.id }) }}"><i class="icon-edit"></i></a>

                            <a href="{{ path('admin_utilisateurs_delete', { 'id': utilisateur.id }) }}"><i class="icon-remove"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_utilisateurs_new') }}">Create a new utilisateur</a>
        </li>
    </ul>
{% endblock %}
